{% load bootstrap_icons %}
<th>
    <div class="ms-3">
        <a href="{% url 'content_detail' content.id %}">{{content.title}}</a>
    </div>
</th>
<th>
    <div class="row">
        <div class="col-4">
            {% if not forloop.first %}
            <a class="btn btn-outline-dark" href="{% url 'content_up' content.id %}">
                {% bs_icon 'chevron-compact-up' %}
            </a>
            {%endif%}
        </div>
        <div class="col-4">
            {% if not forloop.last %}
            <a class="btn btn-outline-dark" href="{% url 'content_down' content.id %}">
                {% bs_icon 'chevron-compact-down' %}
            </a>
            {%endif%}
        </div>
        <div class="col-4">
            <a class="btn btn-primary" href="{% url 'content_edit' content.id %}">
                {% bs_icon 'pencil-square' %}
            </a>
            <a class="btn btn-danger" href="{% url 'content_del' content.id %}" onclick='return confirm("よろしいですか？");'>
                {% bs_icon 'trash' %}
            </a>

        </div>
    </div>
</th>
<th></th>