{% extends "baseInfoNewOrEdit.html" %}

{% block title %}
<h1>信頼性HPの更新</h1>
{% endblock %}

{% block sammary %}
<div class="row mt-2">
    <div class="col-1">
        <label for="id_menu" class="form-label">{{form.menu.label}}</label>
    </div>
    <div class="col-4">
        {{form.menu}}
    </div>
</div>
{% include "baseAddAttachment.html" %}
{% include "base_info_add_new_sammary.html" %}
{% endblock %}
{% block btn %}
<button class="btn btn-primary mt-2" type="submit" value="post">変更</button>
<a class="btn btn-secondary mt-2" href="{% url 'menu_list' %}">戻る</a>
{% endblock %}

{% block add_js2 %}
<script src="/static/infos/js/addAttachmentButton.js"></script>
<script>
    $(document).ready(setMaxlength('#id_managerID'));
    $(document).ready(setMaxlength('#id_sammary'));
</script>
{% endblock %}