{% extends "base.html" %}
{% block main %}

<div class="welcome">
    <h1>メニュー一覧</h1>
</div>
{% if auth %}
<a class="btn btn-primary float-end" href="{% url 'info_new' %}">＋</a>
{% endif %}
{% if menus %}
<table class="table">
    <thead>
        <tr>
            <th>メニュータイトル</th>
            <th>コンテンツ詳細</th>
            <th>順番</th>
        </tr>
    </thead>
    <tbody>
        {% for menu in menus %}
        <tr>
            <th>{{ menu.menu_title }} </th>
            <th><a href="{% url 'content_detail' menu.content.id %}">{{ menu.content.title }}</a></th>
            <th id='menu-{{forloop.counter}}' value='{{forloop.counter}}'>{{ menu.sort_num }}</th>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% else %}
<p>メニューはまだ投稿されていません。</p>
{% endif %}
{% endblock %}