{% extends "base.html" %}
{% block main %}
{% load bootstrap_icons %}

<div>
    <h1>管制技術Wikiメニュー一覧</h1>
    <div class="float-end">
        <button type="button" class="btn btn-primary rounded-pill" onclick="showModal(false, null)"
            data-bs-toggle="tooltip" data-bs-placement="bottom" title="追加">
            ＋
        </button>
    </div>
</div>
{% if menus %}
<table class="table">
    <thead>
        <tr>
            <th scope="col-6">タイトル</th>
            <th scope="col-3">操作</th>
            <th scope="col-3"></th>
        </tr>
    </thead>
    <tbody>
        {% for menu in menus %}
        <tr>
            <th>{{ menu.menu_title }} </th>
            <th></th>
            <th>
                <div class="row">
                    <div class="col-3">
                        {% if not forloop.first %}
                        <a class="btn btn-outline-primary" href="{% url 'menu_up' menu.id%}" data-bs-toggle="tooltip"
                            data-bs-placement="bottom" title="上へ移動">
                            {% bs_icon 'chevron-compact-up' %}
                        </a>
                        {%endif%}
                    </div>
                    <div class="col-3">
                        {% if not forloop.last %}
                        <a class="btn btn-outline-primary" href="{% url 'menu_down' menu.id%}" data-bs-toggle="tooltip"
                            data-bs-placement="bottom" title="下へ移動">
                            {% bs_icon 'chevron-compact-down' %}
                        </a>
                        {%endif%}
                    </div>
                    <div class="col-3">
                        <button type="button" class="btn btn-primary"
                            onclick="showModal({{menu.id}}, '{{menu.menu_title}}')" data-bs-toggle="tooltip"
                            data-bs-placement="bottom" title="編集">
                            {% bs_icon 'pencil-square' %}
                        </button>
                        <a class="btn btn-danger" href="{% url 'menu_del' menu.id %}"
                            onclick='return confirm("よろしいですか？");' data-bs-toggle="tooltip" data-bs-placement="bottom"
                            title="削除">
                            {% bs_icon 'trash' %}
                        </a>
                    </div>
                    <div class="col-3">
                        <a class="btn btn-primary rounded-pill float-end"
                            href="{% url 'content_new' %}?menu={{ menu.id }}" data-bs-toggle="tooltip"
                            data-bs-placement="bottom" title="追加">＋</a>
                    </div>
                </div>
            </th>
        </tr>
        {% for content in menu.related_content.all|dictsort:"sort_num" %}
        <tr bgcolor="lightgrey">
            {% include "contents/contents_list.html" %}
        </tr>
        {% endfor %}
        {% endfor %}
    </tbody>
</table>
{% else %}

<p>メニューはまだ投稿されていません。</p>
{% endif %}
{% include "contents/menu_edit_modal.html" %}

{% endblock %}