{% extends "baseDetail.html" %}
{% load bootstrap_icons %}
{% block sammary %}
<ul>
    {% for error in form.title.errors %}
    <li>
        {{ error }}
    </li>
    {% endfor %}
</ul>
<div class="h5 pt-2 mt-2">装置型式</div>
<div class="pb-2 mb-2 border-bottom">
    {% for eqtype in info.eqtypes.all %}
    <button type="button" class="btn btn-outline-secondary">{{ eqtype }}</button>
    {% endfor %}
</div>
{% if info.is_add_offices %}
<div class="h5 pt-2 mt-2">官署</div>
<div class="pb-2 mb-2 border-bottom">
    {% for office in info.offices.all %}
    <button type="button" class="btn btn-outline-secondary">{{ office }}</button>
    {% endfor %}
</div>
{% endif %}
<div class="h5 pt-2 mt-2">問い合わせ内容</div>
<div class="pb-2 mb-2 border-bottom">
    {{ info.inquiry | linebreaksbr }}
</div>
{% endblock %}

{% block commnets %}
<button type="button" class="btn btn-primary" onclick="showModal({{info.id}})">
    コメント追加
</button>
{% for comment in info.techSupportComment.all|dictsortreversed:"created_at"%}
{% include "../baseComment.html" %}
{% endfor %}
<div class="pt-2">
    <form method="post" action name="add_addresses_form" class="row g-3 needs-validation" novalidate>
        {% csrf_token %}
        {% include "addAddressesForm.html" %}
        <div class="row">
            <div class="col-2 offset-10">
                <button id="send" type="submit" class="btn btn-secondary">アドレス変更</button>
            </div>
        </div>
    </form>
</div>
{% endblock %}


{% block btn %}
<th><a class="btn btn-primary" href="{% url 'support_list' %}">戻る</a></th>
{% if auth %}
<th><a class="btn btn-primary" href="{% url 'support_edit' info.id %}" data-bs-toggle="tooltip"
        data-bs-placement="bottom" title="編集">
        {% bs_icon 'pencil-square' %}
    </a></th>
<th><a class="btn btn-danger" href="{% url 'support_del' info.id %}" onclick='return confirm("よろしいですか？");'
        data-bs-toggle="tooltip" data-bs-placement="bottom" title="削除">
        {% bs_icon 'trash' %}
    </a></th>
{% endif %}

{% include "tech_supports/comment_add_modal.html" %}

{% endblock %}