{% extends "base.html" %}
{% load pygmentize %}
{% load custom_filters %}
{% load bootstrap_icons %}
{% block header %}
{% endblock %}

{% block main %}

<div class="welcome">
    <h1>技術支援一覧</h1>
</div>
<form class="row g-3" method="get" action="" name="filter_form">
    <div class="col-auto">
        <label for="keyword" class="form-label">キーワード:</label>
    </div>
    <div class="col-auto">
        <input class="form-control" type="search" id="keyword" name="keyword" value={{ request.GET|keyword }}>
    </div>
    <div class="col-auto">
        <label for="eqtype" class="form-label">装置型式:</label>
    </div>
    <div class="col-auto">
        <input class="form-control" type="search" id="eqtype" name="eqtype" value={{ request.GET|eqtype }}>
    </div>
    <div class="col-auto">
        <label for="office" class="form-label">官署</label>
    </div>
    <div class="col-auto">
        <select class="form-select" type="search" id="office" name="office">
            <option value="">指定なし</option>
            {% for office in offices %}
            {% if selelcted_office == office.pk %}
            <option value="{{ office.pk }}" selected>
                {% else %}
            <option value="{{ office.pk }}">
                {% endif %}
                {{ office.name }}
            </option>
            {%endfor%}
        </select>
    </div>
    <div class="col-auto">
        <button id="filter" type="submit" class="btn btn-secondary">{% bs_icon 'search' %}</button>
    </div>
</form>
<a class="btn btn-primary float-end" href="{% url 'support_new' %}">＋</a>
<div class="row mt-2">
    {% include "pagination.html" %}
</div>
{% if infos %}
<table class="table">
    <thead>
        <tr>
            <th>解決済</th>
            <th>情報種別</th>
            <th>タイトル</th>
            <th>問い合わせ内容</th>
            <th>更新日</th>
            <th>問い合わせ官署</th>
            <th>編集</th>
        </tr>
    </thead>
    <tbody>
        {% for info in infos %}
        <tr>
            <th>{% if info.is_closed %}☑{%endif%}</th>
            <th>{{ info.get_info_type_display }}</th>
            <th><a href="{% url 'support_detail' info.id %}">{{ info.title }}</a></th>
            <th>{{ info.inquiry }}</th>
            <th>{{ info.updated_at | date:"y/n/j" }}</th>
            <th>{{ info.created_by }}</th>
            {% if auth or user == info.created_by %}
            <th><a class="btn btn-primary" href="{% url 'support_edit' info.id %}">
                    {% bs_icon 'pencil-square' %}
                </a>
                {% endif %}
                {% if auth %}
                <a class="btn btn-danger" href="{% url 'support_del' info.id %}" onclick='return confirm("よろしいですか？");'>
                    {% bs_icon 'trash' %}
                </a>
            </th>
            {% endif %}
        </tr>
        {% endfor %}
    </tbody>
</table>
{% else %}
<p>技術支援はまだ投稿されていません。</p>
{% endif %}
{% endblock %}