ul.suggest-dropdown {
    display: none;
    list-style-type: none;
    padding: 5px;
    position: absolute;
    z-index: 1;
    background-color: lightgreen;
}

ul.suggest-dropdown li {
    margin: 3px;
    cursor: pointer;
}

ul.suggest-dropdown li:hover {
    opacity: 5;
}

.suggest-item {
    cursor: pointer;
}

.suggest-item:hover {
    opacity: 0.5;
}