{% extends "baseInfoNewOrEdit.html" %}

{% block title %}
<h1>信頼性情報の更新</h1>
{% endblock %}

{% block sammary %}
{% include "baseAddAttachment.html" %}
<label for="id_sammary" class="form-label">概要</label>
<textarea name="sammary" class="form-control" cols="40" rows="3" maxlength="512" id="id_sammary">{{ form.sammary.value }}</textarea>
{% endblock %}
{% block btn %}
<button class="btn btn-primary" type="submit" value="post">登録</button>
{% endblock %}

{% block add_js %}
{% include "baseAddAttachment_js.html" %}
{% endblock %}