{% extends "base.html" %}
{% load pygmentize %}

{% block header %}
<style>{% pygments_css %}</style>
{% endblock %}

{% block main %}

<div class="welcome">
    <h1>ようこそ信頼性情報へ！</h1>
</div>
{% if auth %}
    <a class="btn btn-primary float-end" href="{% url 'info_new' %}">＋</a>
{% endif %}
{% if infos %}
    <table class="table">
        <thead>
        <tr>
            <th>タイトル</th>
            <th>投稿日</th>
        </tr>
        </thead>
        <tbody>
        {% for info in infos %}
        <tr>
            <th><a href="{% url 'info_detail' info.id %}">{{ info.title }}</a></th>
            <th>{{ info.created_at }}</th>            
        </tr>
        {% endfor %}
        </tbody>
    </table>
{% else %}
    <p>信頼性情報はまだ投稿されていません。</p>
{% endif %}
{% endblock %}