{% extends "base.html" %}
{% load markdown_extras %}
{% load static %} 
{% block extraheader %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.15.6/styles/a11y-dark.min.css">
<link rel="stylesheet" href="{% static 'infos/css/table-style.css' %}">
{% endblock %}
{% block main %}

<div class="container">
    <div class="card"><div class="card-body">
    <h2>{{ info.title }} by {{ info.created_by.username }}</h2>
    </div></div>
    <div class="card"><div class="card-body">
        <h5>概要</h5>
        {{ info.sammary | linebreaksbr }}
    </div></div>
    <div class="card"><div class="card-body">
        <h5>詳細</h5>
        {{ info.content | markdown_to_html | safe }}
    </div></div>
    <div class="row">
        <div class="col-3">作成日時:{{ info.created_at }}</div>
        <div class="col-3">作成者:{{ info.created_by }}</div>
        <div class="col-3">投稿日時:{{ info.updated_at }}</div>
        <div class="col-3">投稿者:{{ info.updated_by }}</div>
    </div>
    <th><a class="btn btn-primary" href="{% url 'info_list' %}">戻る</a></th>
    {% if user.username == 'tmc' %}
    <th><a class="btn btn-primary" href="{% url 'info_edit' info.id %}">編集</a></th>
    <th><a class="btn btn-danger" href="{% url 'info_del' info.id %}">削除</a></th>
    {% endif %}
</div>
{% endblock %}
{% block add_js %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.15.6/highlight.min.js"></script>
<script>hljs.initHighlightingOnLoad();</script>
{% endblock %}