{% extends "base.html" %}
{% load pygmentize %}
{% load custom_filters %}
{% load bootstrap_icons %}
{% block header %}
{% endblock %}

{% block main %}

<div class="welcome row">
    <h1 class="col-10">信頼性情報一覧</h1>
</div>
<form class="row g-3 my-1" method="get" action="" name="filter_form">
    <div class="col-auto">
        <label for="keyword" class="form-label">キーワード:</label>
    </div>
    <div class="col-auto">
        <input class="form-control" type="search" id="keyword" name="keyword" value={{ request.GET|keyword }}>
    </div>
    <div class="col-auto">
        <label for="info_type" class="form-label">情報種別:</label>
    </div>
    <div class="col-auto">
        <select class="form-select" type="search" id="info_type" name="info_type">
            <option value="">指定なし</option>
            {% for info_type in info_types %}
            {% if selelcted_info_type == info_type.0 %}
            <option value="{{ info_type.0 }}" selected>
                {% else %}
            <option value="{{ info_type.0 }}">
                {% endif %}
                {{ info_type.1 }}
            </option>
            {%endfor%}
        </select>
    </div>
    <div class="col-auto">
        <label for="eqtype" class="form-label">装置型式:</label>
    </div>
    <div class="col-auto">
        <input class="form-control" type="search" id="eqtype" name="eqtype" value={{ request.GET|eqtype }}>
    </div>
    <div class="col-auto">
        <label for="office" class="form-label">官署</label>
    </div>
    <div class="col-auto">
        <select class="form-select" type="search" id="office" name="office">
            <option value="">指定なし</option>
            {% for office in offices %}
            {% if selelcted_office == office.pk %}
            <option value="{{ office.pk }}" selected>
                {% else %}
            <option value="{{ office.pk }}">
                {% endif %}
                {{ office.name }}
            </option>
            {%endfor%}
        </select>
    </div>
    {% if auth %}
    <div class="col-auto">
        <label for="is_all" class="form-label">非公開情報含む:</label>
    </div>
    <div class="col-auto">
        <input type="checkbox" id="is_all" name="is_all" {{ request.GET|is_all }}>
    </div>
    {%endif%}
    <div class="col-auto">
        <button id="filter" type="submit" class="btn btn-secondary" data-bs-toggle="tooltip" data-bs-placement="bottom"
            title="検索">{% bs_icon 'search' %}</button>
    </div>
</form>
<div class="row align-items-start my-1">
    <div class="col-11">
        {% include "pagination.html" %}
    </div>
    {% if auth %}
    <div class="col-1">
        <a class="btn btn-primary mx-2" href="{% url 'info_new' %}" data-bs-toggle="tooltip" data-bs-placement="bottom"
            title="追加">＋</a>
        <a class="btn btn-outline-success mx-2" href="{% url 'exportInfo' %}" data-bs-toggle="tooltip"
            data-bs-placement="bottom" title="Excel一覧出力">{% bs_icon 'file-earmark-excel' %}</a>
    </div>
    {% endif %}

</div>

</div>

</div>

{% if infos %}
<table class="table">
    <thead>
        <tr>
            <th class="col-1">情報種別</th>
            <th class="col-2">タイトル</th>
            <th class="col-7">概要</th>
            <th>公開日</th>
            <th>更新日</th>
            <th>編集</th>
        </tr>
    </thead>
    <tbody>
        {% for info in infos %}
        <tr>
            <th>{{ info.get_info_type_display }}</th>
            <th><a href="{% url 'info_detail' info.id %}">{{ info.title }}</a></th>
            <th>{{ info.sammary }}</th>
            <th>{{ info.disclosure_date | date:"y/n/j" }}</th>
            <th>{{ info.updated_at | date:"y/n/j" }}</th>
            {% if auth %}
            <th>
                <a class="btn btn-primary" href="{% url 'info_edit' info.id %}" data-bs-toggle="tooltip"
                    data-bs-placement="bottom" title="編集">
                    {% bs_icon 'pencil-square' %}
                </a>
                <a class="btn btn-primary" href="{% url 'info_send' info.id %}" data-bs-toggle="tooltip"
                    data-bs-placement="bottom" title="メール送信画面へ">
                    {% bs_icon 'send' %}
                </a>
                <a class="btn btn-danger" href="{% url 'info_del' info.id %}" onclick='return confirm("よろしいですか？");'
                    data-bs-toggle="tooltip" data-bs-placement="bottom" title="削除">
                    {% bs_icon 'trash' %}
                </a>
            </th>
            {% endif %}
        </tr>
        {% endfor %}
    </tbody>
</table>
{% else %}
<p>信頼性情報はまだ投稿されていません。</p>
{% endif %}
{% endblock %}