{% extends "base.html" %}
{% load custom_filters %}
{% load pygmentize %}
{% load bootstrap_icons %}
{% block header %}
{% endblock %}

{% block main %}
{% if is_new %}
<h1>配信先の登録</h1>
{% else %}
<h1>配信先の更新</h1>
{% endif %}
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{form.media}}
    <div class="row mt-2 mb-0">
        <div class="col-1">
            <label for="id_name" class="form-label fw-bold">{{form.name.label}}</label>
        </div>
        <div class="col-11">
            {{form.name}}
        </div>
    </div>
    <div class="row mt-2 mb-0">
        <div class="col-1">
            <label for="id_position" class="form-label fw-bold">{{form.position.label}}</label>
        </div>
        <div class="col-11">
            {{form.position}}
        </div>
    </div>
    <div class="row mt-2 mb-0">
        <div class="col-1">
            <label for="id_mail" class="form-label fw-bold">{{form.mail.label}}</label>
        </div>
        <div class="col-11">
            {{form.mail}}
        </div>
    </div>
    <div class="row mt-2 mb-0">
        <div class="col-1">
            <label for="id_mail" class="form-label fw-bold">{{form.is_HTML_mail.label}}</label>
        </div>
        <div class="col-1">
            {{form.is_HTML_mail}}
        </div>
        <div class="col-10 form-text">
            {{form.is_HTML_mail.help_text}}
        </div>
    </div>
    <div class="row mt-2 mb-0">
        <div class="col-1">
            <label for="id_role" class="form-label fw-bold">{{form.role.label}}</label>
        </div>
        <div class="col-3">
            {{form.role}}
        </div>
        <div class="col-8 form-text">
            {% for help in role_help %}
            {{ help }}</br>
            {% endfor %}
        </div>
    </div>
    {% if auth %}
    <div class="row mt-2 mb-0">
        <div class="col-1">
            <label for="id_department" class="form-label fw-bold">{{form.department.label}}</label>
        </div>
        <div class="col-3">
            {{form.department}}
        </div>
        <div class="col-2 form-text">
            {{form.department.help_text}}
        </div>
        <div class="col-1">
            <label for="id_groups" class="form-label fw-bold">{{form.groups.label}}</label>
        </div>
        <div class="col-3">
            {{form.groups}}
        </div>
        <div class="col-2 form-text">
            {{form.groups.help_text}}
        </div>
    </div>
    {% endif %}
    <div class="row form-text">
        ※Ctrlを押しながら選択すると複数選択可能
    </div>
    {% if auth %}
    <div class="row mt-2 mb-0">
        <div class="col-2">
            <label for="id_is_receive_info_from_offices"
                class="form-label fw-bold">{{form.is_receive_info_from_offices.label}}</label>
        </div>
        <div class="col-1">
            {{form.is_receive_info_from_offices}}
        </div>
        <div class="col-9 form-text">
            {{form.is_receive_info_from_offices.help_text}}
        </div>
    </div>
    {%endif%}

    <div class="row mt-3">
        <div class="col-2">
            <button class="btn btn-primary mr-2" type="submit" value="post">
                {% if is_new %}登録{% else %}更新{% endif %}
            </button>
            <a class="btn btn-primary" href="{% url 'address_list' %}">
                戻る
            </a>
        </div>
    </div>
</form>
{% endblock %}
{% block add_js %}
<script>
    $(function () {
        $("input").on("keydown", function (e) {
            if ((e.which && e.which === 13) || (e.keyCode && e.keyCode === 13)) {
                return false;
            } else {
                return true;
            }
        });
    });
</script>
<script src="/static/bootstrap-maxlength/jquery-3.6.0.min.js"></script>
<script src="/static/bootstrap-maxlength/bootstrap-maxlength.min.js"></script>
<script src="/static/jquery/ui/js/jquery-ui.min.js"></script>
<script src="/static/infos/js/addMaxLength.js"></script>
<script>
    $(document).ready(setMaxlength('#id_name'));
    $(document).ready(setMaxlength('#id_position'));
    $(document).ready(setMaxlength('#id_mail'));
</script>
{% endblock %}