{% extends "base.html" %}

{% block main %}
{% block title %}{% endblock %}
<form method="post">
    {% csrf_token %}
    {{ form.media }}
    <label for="id_title" class="form-label">タイトル</label>
    <input type="text" class="form-control" name="title" maxlength="128" required id="id_title">
    {% block sammary %}{% endblock %}
    <label for="id_content" class="form-label">内容</label>
    {{ form.content }}
    {% block btn %}{% endblock %}
</form>
{% endblock %}

{% block add_js %}{% endblock %}