{% load bootstrap_icons %}
<div class="card">
    <div class="card-body">
        <div class="row">
            <div class="card-subtitle">{{ comment.comment_txt | linebreaksbr}}</div>
        </div>
        <div class="row">
            <div class="card-subtitle">
                <p><a href="/media/{{ comment.file }}">{{ comment.filename }}</a></p>
            </div>
        </div>
        <div class="row">
            <div class="col-5"></div>
            <div class="col-3">投稿者：{{ comment.created_by.last_name }}</div>
            <div class="col-3">投稿日時{{ comment.created_at }}</div>
            {% if user == comment.created_by %}
            <div class="col-1">
                {% if is_content %}
                <th><a class="btn btn-danger" href="{% url 'content_del_comment' info.id comment.id %}"
                        onclick='return confirm("よろしいですか？");' data-bs-toggle="tooltip" data-bs-placement="bottom"
                        title="削除">
                        {% bs_icon 'trash' %}
                    </a></th>
                {% elif is_support %}
                <th><a class="btn btn-danger" href="{% url 'support_del_comment' info.id comment.id %}"
                        onclick='return confirm("よろしいですか？");' data-bs-toggle="tooltip" data-bs-placement="bottom"
                        title="削除">
                        {% bs_icon 'trash' %}
                    </a></th>
                {% else %}
                <th><a class="btn btn-danger" href="{% url 'info_del_comment' info.id comment.id %}"
                        onclick='return confirm("よろしいですか？");' data-bs-toggle="tooltip" data-bs-placement="bottom"
                        title="削除">
                        {% bs_icon 'trash' %}
                    </a></th>
                {% endif %}
            </div>
            {% endif %}
        </div>

    </div>
</div>