{% extends "base.html" %}
{% load static %}
{% block extraheader %}
<link rel="stylesheet" href="/static/simplemde/simplemde.min.css">
<link rel="stylesheet" href="{% static 'infos/css/table-style.css' %}">
<link rel="stylesheet" href="/static/infos/css/simpleMDE_override.css">
{% endblock %}
{% block main %}

<div class="container-fluid">
    <div class="h2 py-2 my-2 border-bottom">{{ info.title }}</div>
    {% block sammary %}{% endblock %}
    {% if info.is_rich_text %}
    <div class="h5 pt-2 mt-2">詳細</div>
    <div class="pb-2 mb-2 border-bottom">
        <textarea id="editor" name="name">{{ info.content }}</textarea>
        <script src="/static/simplemde/simplemde.min.js"></script>
        <script src="/static/infos/js/addSimpleMDE_preview.js"></script>
    </div>
</div>
{% else %}
{% if info.failuer_date %}
<div class="h5 pt-2 mt-2">備考</div>
{%else%}
<div class="h5 pt-2 mt-2">詳細</div>
{%endif%}
<div class="pb-2 mb-2 border-bottom">
    {{ info.content | linebreaksbr }}
</div>
{% endif %}
{% load custom_filters %}
<div class="h5 pt-2 mt-2">ファイル</div>
<div class="pb-2 mb-2 border-bottom">
    {% for file in files %}
    <p><a href="/media/{{ file.file }}">{{ file.file.name | remove_dirs }}</a></p>
    {% endfor %}
</div>
{% block commnets %}{% endblock %}
<div class="pb-2 mb-2 border-bottom">
    <div class="row">
        <div class="col-3">作成日時:{{ info.created_at }}</div>
        <div class="col-3">作成者:{{ info.created_by.last_name }}</div>
        <div class="col-3">投稿日時:{{ info.updated_at }}</div>
        <div class="col-3">投稿者:{{ info.updated_by.last_name }}</div>
    </div>
</div>
<div class="row">
    <div class="col-2 offset-10">
        {% block btn %}{% endblock %}
    </div>
</div>
</div>
{% endblock %}
{% block add_js %}
<script src="/static/highlight/highlight.min.js"></script>
<script>hljs.initHighlightingOnLoad();</script>
{% endblock %}