<div class="row mt-2">
    <div class="col-2">
        <label for="id_is_add_eqtypes" class="form-label">{{form.is_add_eqtypes.label}}</label>
        {{form.is_add_eqtypes}}
    </div>
    <div class="col-10">
        <label for="id_eqtypes" class="form-label">{{form.eqtypes.label}}</label>
        {{form.eqtypes}}
    </div>
</div>
<div class="row mt-2">
    <div class="col-2">
        <label for="id_is_add_offices" class="form-label">{{form.is_add_offices.label}}</label>
        {{form.is_add_offices}}
    </div>
    <div class="col-10">
        {{form.offices}}
    </div>
</div>
<div class="row pt-5">
    <div class="col-3">
        <label for="id_info_type" class="form-label">{{form.info_type.label}}</label>
        {{form.info_type}}
    </div>
    <div class="col-9">
        <label for="id_managerID" class="form-label">{{form.managerID.label}}</label>
        {{form.managerID}}
    </div>
</div>
<label for="id_sammary" class="form-label">{{form.sammary.label}}</label>
{{form.sammary}}