{% extends "base.html" %}
{% load static %}
{% block extraheader %}
<link rel="stylesheet" href="/static/simplemde/simplemde.min.css">
<link rel="stylesheet" href="{% static 'infos/css/table-style.css' %}">
<link rel="stylesheet" href="/static/infos/css/simpleMDE_override.css">
{% endblock %}
{% block main %}

<div class="container-fluid">
    <div class="card">
        <div class="card-body">
            <h2>{{ info.title }}</h2>
        </div>
    </div>
    {% block sammary %}{% endblock %}
    {% if info.is_rich_text %}
    <div>
        <h5 class="card-title">詳細</h5>
        <textarea id="editor" name="name">{{ info.content }}</textarea>
        <script src="/static/simplemde/simplemde.min.js"></script>
        <script src="/static/infos/js/addSimpleMDE_preview.js"></script>
    </div>
    {% else %}
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">詳細</h5>
            {{ info.content | linebreaksbr }}
        </div>
    </div>

    {% endif %}
    {% load custom_filters %}
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">ファイル</h5>
            {% for file in files %}
            <p><a href="/media/{{ file.file }}">{{ file.file.name | remove_dirs }}</a></p>
            {% endfor %}
        </div>
    </div>
    {% block commnets %}{% endblock %}
    <div class="row">
        <div class="col-3">作成日時:{{ info.created_at }}</div>
        <div class="col-3">作成者:{{ info.created_by }}</div>
        <div class="col-3">投稿日時:{{ info.updated_at }}</div>
        <div class="col-3">投稿者:{{ info.updated_by }}</div>
    </div>
    {% block btn %}{% endblock %}
</div>
{% endblock %}
{% block add_js %}
<script>hljs.initHighlightingOnLoad();</script>
{% endblock %}