{% load static %}
{% load django_bootstrap5 %}

<!DOCTYPE html>
<html lang="ja">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>信頼性情報</title>
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    <link rel="stylesheet" href="{% static 'infos/css/style.css' %}">
    {% block extraheader %}{% endblock %}
</head>
<body>
<nav class="navbar navbar-expand flex-md-row navbar-dark bg-dark">
    <div class="container justify-content-between">
        <a href="/" class="navbar-brand">信頼性情報</a>
        <ul class="navbar-nav mr-md-2">
            {% if user.is_authenticated %}
            <li class="nav-item"><a class="nav-link" href="{% url 'logout' %}">ログアウト</a></li>
                {% if user.username == 'root' %}
                <li class="nav-item"><a class="nav-link" href="{% url 'signup' %}">会員登録</a></li>
                {% endif %}    
            {% else %}
            <li class="nav-item"><a class="nav-link" href="{% url 'login' %}">ログイン</a></li>
            {% endif %}
        </ul>
    </div>
</nav>
<main>
    <div class="container">
        {% block main %}{% endblock %}
    </div>
</main>
</body>
</html>
