<link rel="stylesheet" href="/static/jquery/ui/css/jquery-ui.min.css">
<script src="/static/jquery/jquery-3.6.0.min.js"></script>
<script src="/static/jquery/ui/js/jquery-ui.min.js"></script>
{{ formset2.management_form }}
<div class="row mt-2 mb-0">
    <div class="col-2">
        日付
    </div>
    <div class="col-2">
        時間
    </div>
    <div class="col-7">
        事象
    </div>
    <div class="col-1">
        削除
    </div>
</div>
<div id="event-area">
<hr class="mt-1 mb-1">
{%for event_form in formset2%}
    <div class="row">
        <div class="col-2">
            {{event_form.date}}
            {{event_form.info}}
            {{event_form.id}}
        </div>
        <div class="col-2">
            {{event_form.time}}
        </div>
        <div class="col-7">
            {{event_form.event}}
        </div>
        <div class="col-1">
            {{event_form.DELETE}}
        </div>
    </div>

    <hr class="mt-1 mb-1">
{%endfor%}
</div>
<button id="add_event" type="button" class="btn btn-primary">事象の追加</button></br>
