{% extends "base.html" %}

{% block main %}

<div class="welcome">
    <h1>ようこそ信頼性ホームページへ！</h1>
    <div class="card">
        <div class="card-body">
            <div class="card-title">新着　信頼性情報</div>
            <p class="card-text">
            <div class="row">
                <div class="col-2">公開日</div>
                <div class="col-2">更新日時</div>
                <div class="col-2">更新者</div>
                <div class="col-6">件名</div>
            </div>
            {% for info in infos %}
            <div class="row">
                <div class="col-2">{{info.disclosure_date|date:"Y年m月d日"}}</div>
                <div class="col-2">{{info.updated_at}}</div>
                <div class="col-2">{{info.updated_by.first_name}}</div>
                <div class="col-6"><a href="{% url 'info_detail' info.id %}">{{ info.title }}</a></div>
            </div>
            </p>
            {%endfor%}
            <div class="card-subtitle">直近{{last_month_num}}か月表示</div>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <div class="card-title">新着　コンテンツ</div>
            <p class="card-text">
            <div class="row">
                <div class="col-2">更新日時</div>
                <div class="col-2">更新者</div>
                <div class="col-8">件名</div>
            </div>
            {% for content in contents %}
            <div class="row">
                <div class="col-2">{{content.updated_at|date:"Y年m月d日"}}</div>
                <div class="col-2">{{content.updated_by.first_name}}</div>
                <div class="col-8"><a href="{% url 'content_detail' content.id %}">{{ content.title }}</a></div>
            </div>
            </p>
            {%endfor%}
            <div class="card-subtitle">直近{{last_month_num}}か月表示</div>
        </div>
    </div>
</div>

{% endblock %}